<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>INSERTION OF ACCESSRECORDS</h1>
        <form method="POST">
             {% csrf_token %}
          
            <label for="na">name</label>
            <select name="na" id="na">
                {% for wo in webpages %}
                <option value="{{wo}}">{{wo.name}}</option>
                {% endfor%}
            </select><br>
           
            <label for="au">author</label>
            <input type="text" name="au" id="au"><br>
            <label for="da">date</label>
            <input type="date" name="da" id="da"> 
             

            
            <br>
            <input type="submit" value="insert_Accessrecords">

        </form>
    </center>
    
    
</body>
</html>